In [1]:
import pandas as pd
df = pd.DataFrame({'Device_Type': ['AXO145', 'TRU151', 'ZOD231', 'YRT326','LWR245'], 
                   'Stats_Access_Link': ['<url>https://xcd32112.smart_meter.com</url>', 
                                         '<url>https://tXh67.dia_meter.com</url>', 
                                         '<url>https://yT5495.smart_meter.com</url>', 
                                         '<url>https://ret323_TRu.crown.com</url>', 
                                         '<url>https://luwr3243.celcius.com</url>']})
df

  Device_Type                            Stats_Access_Link
0      AXO145  <url>https://xcd32112.smart_meter.com</url>
1      TRU151       <url>https://tXh67.dia_meter.com</url>
2      ZOD231    <url>https://yT5495.smart_meter.com</url>
3      YRT326      <url>https://ret323_TRu.crown.com</url>
4      LWR245      <url>https://luwr3243.celcius.com</url>

In [2]:
from bs4 import BeautifulSoup
import re
def cleanText(text):
    text = BeautifulSoup(text, "lxml").text
    text = re.sub('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))', '', text, flags=re.MULTILINE)
    return text

In [3]:
df['Stats_Access_Link'] = df['Stats_Access_Link'].apply(cleanText)
df

  Device_Type        Stats_Access_Link
0      AXO145  cd32112.smart_meter.com
1      TRU151       Xh67.dia_meter.com
2      ZOD231    T5495.smart_meter.com
3      YRT326      et323_TRu.crown.com
4      LWR245      uwr3243.celcius.com